.bg-curb-full{
    background-color: goldenrod;
}
.bg-online-full{
    background-color: firebrick;
}
.bg-delivery-full{
    background-color: forestgreen;
}
.bg-store-full{
    background-color: darkorchid;
}

.o_kanban_view .o_kanban_group {
    // @include o-kanban-css-filter(success, theme-color('success'));
    // @include o-kanban-css-filter(warning, theme-color('warning'));
    // @include o-kanban-css-filter(danger, theme-color('danger'));
    // @include o-kanban-css-filter(muted, theme-color('dark'));

    @include o-kanban-css-filter(store, darkorchid);
    @include o-kanban-css-filter(online, firebrick);
    @include o-kanban-css-filter(delivery, forestgreen);
    @include o-kanban-css-filter(curb, goldenrod);

    // &.o_kanban_group_show {
    //     display: flex;
    //     flex-flow: column nowrap;

    //     > * {
    //         flex: 0 0 auto;
    //     }
    // }
}
.med_card{
    background-color: rgba(255, 255, 0, 0.2) !important;
}
.adult_card{
    background-color: rgba(0, 130, 255, 0.1) !important;
}

.timer-normal{
    color: rgb(35, 202, 13);
    padding-right: 2px;
    padding-left: 2px;
}

.timer-flash{
    background-color: firebrick;
    color: white !important;
    padding-right: 2px;
    padding-left: 2px;
}