.bg-firebrick-full{
    background-color: firebrick;
}
.bg-goldenrod-full{
    background-color: goldenrod;
}
.bg-mediumseagreen-full{
    background-color: mediumseagreen;
}
.bg-steelblue-full{
    background-color: steelblue;
}