.o_lpc_industry_product {
    .o_button_invisible {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .o_qty_button {
        width:30px;
        height:30px;
    }
}

.catalog_header{
    display: flex;
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    border: 1px solid #ced4da;
    background-color: white;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
}
.catalog_back_button{
    align-self: center;
    text-align: center;
    color: white;
}

.catalog_card_hide{
    order: 3;
    opacity: 0.5;
    box-shadow: none;
}

:root{
    --curve: 10px;
}

.o_search_panel .list-group-item header.active{
    background-color: rgba(2, 185, 180, .46); // selected color
    border-radius: var(--curve);
}
.o_search_panel .list-group-item header{
    // background-color: rgba(108, 193, 237, 0.3);
    background: #00a09d;
    border-radius: var(--curve);
    margin-bottom: 5px;
}
.o_search_panel .list-group-item header:hover{
    // background-color: rgba(108, 193, 237, 0.3);
    background: #008380;
    border-radius: var(--curve);
}
.o_search_panel .o_search_panel_category_value {
    cursor: pointer;
    margin-bottom: 5px;
}
.list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
    border-radius: var(--curve);
    // border-bottom-left-radius: 0px;
    // border-bottom-right-radius: 0px;

}